.container {
   border: 4px red dotted;
   border-style: groove;
   background-color: darkolivegreen; 
}

.submitButton {
    background-color: brown;
    text-decoration-color: white;
}

.input {
    color: white;
}